/* Background */
* {
    background-color:aquamarine}

/* Body */
body {
    margin-left: 100px;
}
    


/* Headings */
h1, h1 strong {
    color:aliceblue;
    background-color:black;
    font-family: Helvetica, Arial, sans-serif;
    
}



/* List Items */



a:link, a:visited {
background: none;   
color:aliceblue;
font-family: Helvetica, Arial, sans-serif;

}

/* Classes */

.main-heading {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    width: 800px;
    margin: 40px 10px 10px;
    padding: 20px 0px;
    text-align: center;
}


.chefs {
    box-sizing: border-box;
    width: 800px;
    margin: 10px;
    padding: 10px;
    border: solid 5px black;
}

.link-card {
    
    box-sizing: border-box;
    width: 800px;
    height: auto;
    margin: 10px 10px 50px;
    border: 3px solid black;
    padding-right: 50px;
   
}


.main-link {
    font-size: 50px;
}

.main-link li {
    box-sizing: border-box;
    background-color: black;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left: 20%;
    border: 2px solid black;
    margin: 5px 20px 5px 0px;
    
}



